<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First Vue Project</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./main.css">


  </head>
  <body>
  <!-- Shorthand options -->
  <!-- For events v-on: can be replaced with @ -->
  <!-- for v-bind, can just use : -->
  <div id="app">
    <div
      class="demo"
      @click="attachRed = !attachRed"
      :class="divClasses">
      <input type="text" v-on:input="changeTitle">
      <!-- Using v-once, all content is rendered once -->
      <h1 v-once>{{ title }}</h1>
      <p>{{ title }}</p>
      <!-- v-bind allows us to call links from the Vue object
    v-bind is a directive. Takes an argument. Expects the attribute you want to bind -->
      <!-- <p>{{ sayHello() }} -  <a v-bind:href="link">Google</a></p> -->
    </div>
    <div
      class="demo"
      @click="attachGreen = !attachGreen"
      :class="{green: attachGreen}">
      <!-- v-html tells vue to render html code and not escape it. Use carefully because it exposes you to cross site scripting attacks if it's content created by users. If source is clean or you sanitized it on your own, this should be fine. -->
      <p v-html="finishedLink"></p>
    </div>
    <div
      class="demo"
      @click="attachOrange = !attachOrange"
      :class="[color1, {orange: attachOrange}]">
      <!-- v-on: is a way of listening to something -->
      <!-- Can use any DOM event existent for a button: mouseenter, mouseleave, etc. -->
      <h2>Event modifiers</h2>
      <h3>Passing 'step'</h3>
      <button v-on:click="increase1(2)">Click me</button>
      <p>{{ counter1 }}</p>
    </div>
    <h2>Type 'blue', 'red', or 'green'</h2>
    <input type="text" v-model="color1">
    <hr>
    <div class="demo">
      <h3>Passing $event</h3>
      <button v-on:click="increase2($event)">Click me</button>
      <p>{{ counter2 }}</p>
    </div>
    <div class="demo">
      <!-- can also write JavaScript in templates -->
      <h3>Writing simple JS into template</h3>
      <button v-on:click="counter3++">Click me</button>
      <p>{{ counter3 * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
      <!-- if we want to access this information because we want to output the data... -->
      <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }}
        <!-- stop and preventDefault are modifiers. Modifiers can be chained together as well. -->
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
      </p>
    </div>
      <!-- Key modifiers. Adding ".enter" will only call this function when enter is pressed and raised. These key modifiers can be chained together, such as enter.space -->
    <div
      class="demo"
      :style="myStyle">
      <h2>Alert box on 'enter'</h2>
      <input type="text" v-on:keyup.enter="alertMe"><br>
    </div>
    <br>
    <h2>Type a color. Any color.</h2>
    <input type="text" v-model="color2">
    <h2>Add custom width:</h2>
    <input type="text" v-model="width">
    <br>
      <!-- Two way binding. v-model says "set up two way data binding" -->
    <div class="demo">
      <h2>Two way data binding</h2>
      <input type="text" v-model="name">
      <p>{{ name }}</p>
    </div>
    <div class="demo">
      <h1>Reacting to changes with computed properties</h1>
      <!-- In order to DRY, Vue makes it easy to model cross property dependencies -->
      <button v-on:click="counter4++">Increase</button>
      <button v-on:click="counter4--">Decrease</button>
      <button v-on:click="secondCounter4++">Increase Second</button>
      <p>Counter: {{ counter4 }} | {{ secondCounter4 }}</p>
      <p>Result: {{ result4() }} | {{ output4 }}</p>
    </div>
  </div>

  <script src="./script.js"></script>
  </body>
</html>
